:root {
    --selection-bg-color: #3a5760;

    --document-bg-color: #263238;
    --item-selected-bg-color: #1c252a;

    --completed-text-color: grey;
    --completed-ckeck-icon-color: #00AC00;

    --tag-bg-color: #2e758b;
    --tag-text-color: #FFF;

    --tag-todo-bg-color: #fc6b03;
    --tag-wip-bg-color: #FFD923;

}

::selection {
  background: var(--selection-bg-color);
}
::-moz-selection {
  background: var(--selection-bg-color);
}


.Suggestions-item.is-current, .Suggestions-dropdownLoadAll:hover {
    background: var(--selection-bg-color);
}

.u-use-pref-font{
  font-family: Roboto,  sans-serif;
}


/* dynalist */
.AppHeader, .AppContainer {
    background-color: var(--document-bg-color);
    box-shadow: none;
}

.pane-item-header.selected {
    background: var(--document-bg-color);
}

/* Left pane  */
.is-desktop .LeftPaneContainer,
.is-desktop .LeftPaneContainer-nav,
.is-desktop .Pane,
.is-desktop .Pane-header,
.is-desktop .popup-message-banner,
.is-desktop .LeftPaneContainer-navItem {
    background: var(--document-bg-color);
}

.is-desktop .LeftPaneSlidebarContainer {
    box-shadow: none;
}

.LeftPaneSlidebarContainer {
    top: 0;
}

.LeftPaneContaine-nav {
    box-shadow: 0;
}

.finder-result.is-selected {
    background: var(--selection-bg-color);
}

/* Document Nodes */
/* Node hover cursor */
.Node-self.is-hovering {
    background-color: var(--item-selected-bg-color);
}

.Node.is-selected {
  background: var(--item-selected-bg-color);
}

.DocumentBreadcrumb {
    min-height: 12px;
    padding: 5px 0 0 10px;
}

.is-desktop .Document-rootNode {
    padding: 0 20px;
}

.ContextMenu {
    box-shadow: none;
    z-index: 1001;
}

.DocumentTools-overlay {
    border-radius: 0;
    box-shadow: none;
    background-color: #353c3f;
}

.pane-item.DocumentItem.is-open > .pane-item-header {
    background-color: rgb(42, 49, 53);
}

.pane-item-header.hover {
   background-color: rgb(42, 49, 53);
}

input:focus, textarea:focus, select:focus, input:hover, textarea:hover, select:hover {
    border-color: #353c3f;
}

/* tags */
.DocumentContainer.has-tagBackground .node-tag {
    background-color:  var(--tag-bg-color);
    color: var(--tag-text-color);
    box-sizing: border-box;
    padding: 2px 6px;
    border-radius: 4px;
}

.DocumentContainer.has-tagBackground .node-tag[title="Filter #Todo"] {
    background-color: var(--tag-todo-bg-color);
}

.DocumentContainer.has-tagBackground a.node-tag[title="Filter #WIP"] {
    background-color: var(--tag-wip-bg-color);
}

/* Tasks */
.Node.is-checked > .Node-self .Node-content, .Node.is-checked > .Node-self .Node-renderedContent {
    text-decoration: none;
    color: var(--completed-text-color);
}

/* Tasks completed*/
.Node.is-checked > .Node-self .Node-renderedContent::before {
  content: ' ✔ ';
  color: var(--completed-ckeck-icon-color);
}
